@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swamp");

:root{
  --secondary-font : "Berkshire Swash", cursive;
  --dark-color: #183153;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  position: relative;
  width: 800px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-family: var(--secondary-font);
  display: flex;
  justify-content: space-evenly;
  color: var(--dark-color);
}
.container .title{
  font-size: 4rem;
  position: absolute;
  top: -150px;
  color: #ff4500;
}
.container div{
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.25s linear;
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.1);
}
.container div:hover{
  box-shadow: 0 0 39px 12px rgba(37, 37, 37, 0.1);
  background-image: url('background.jpg');
  color: #fff;
}
.container p{
  position: absolute;
  top: 10px;
  font-size: 1.4rem;
  color: #ff4500;
}
.container h1{
  font-size: 6rem;
}
